/* Styles that are used in the Products/{id} page. */
.description {
    margin: 10vh 0;
    padding: 2vh;
    border-radius: 2vh;
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: row;
    position: relative;
}

.detail {
    background-color: greenyellow;
    border-radius: 2vh;
}

.description > div {
    flex-basis: 50%;
}

.btn-wrapper {
    position: absolute;
    bottom: 2vh;
    left: 2vw;
}

.modify-btn {
    padding: 1vh 2vw;
    font-size: 1.5rem;
    transition: 0.5s;
}

#edit-btn {
    color: white;
    border: none;
    background-color: black;
}
#edit-btn:not([disabled]):hover {
    color: greenyellow;
}

#edit-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
#delete-btn {
    box-sizing: border-box;
    border: 0.2vh solid red;
}
#delete-btn:hover {
    background-color: red;
    color: white;
}
#updated-state form div.input-container {
    margin-top: 2vh;
}
#updated-state form div.input-container label {
    width: auto;
    display: inline-block;
    margin-bottom: 1.5vh;
}
#updated-state form div.input-container label + input {
    padding: 0.5vh 1vh;
    box-sizing: border-box;
}