bin/Debug/net7.0/AutoParts.dll
bin/Debug/net7.0/AutoParts.pdb
obj/Debug/net7.0/AutoParts.dll
obj/Debug/net7.0/AutoParts.pdb
obj/Debug/net7.0/project.razor.json
obj/Debug/net7.0/ref/AutoParts.dll
obj/Debug/net7.0/refint/AutoParts.dll
bin/Debug/net7.0/AutoParts.dll
bin/Debug/net7.0/AutoParts.pdb
obj/Debug/net7.0/AutoParts.dll
obj/Debug/net7.0/AutoParts.pdb
obj/Debug/net7.0/project.razor.json
obj/Debug/net7.0/ref/AutoParts.dll
obj/Debug/net7.0/refint/AutoParts.dll
