bin/Debug/net7.0/AutoParts.dll
bin/Debug/net7.0/AutoParts.pdb
obj/Debug/net7.0/AutoParts.dll
obj/Debug/net7.0/AutoParts.pdb
obj/Debug/net7.0/project.razor.json
obj/Debug/net7.0/ref/AutoParts.dll
obj/Debug/net7.0/refint/AutoParts.dll
bin/Debug/net7.0/AutoParts.dll
bin/Debug/net7.0/AutoParts.pdb
obj/Debug/net7.0/AutoParts.dll
obj/Debug/net7.0/AutoParts.pdb
obj/Debug/net7.0/project.razor.json
obj/Debug/net7.0/ref/AutoParts.dll
obj/Debug/net7.0/refint/AutoParts.dll
AutoParts.csproj
.vscode/launch.json
.vscode/tasks.json
bin/Debug/net7.0/appsettings.Development.json
bin/Debug/net7.0/appsettings.json
bin/Debug/net7.0/AutoParts
bin/Debug/net7.0/AutoParts.deps.json
bin/Debug/net7.0/AutoParts.runtimeconfig.json
bin/Debug/net7.0/AutoParts.staticwebassets.runtime.json
bin/Debug/net7.0/Azure.Core.dll
bin/Debug/net7.0/Azure.Identity.dll
bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
bin/Debug/net7.0/Microsoft.Identity.Client.dll
bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net7.0/System.Drawing.Common.dll
bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net7.0/System.Memory.Data.dll
bin/Debug/net7.0/System.Runtime.Caching.dll
bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net7.0/System.Security.Permissions.dll
bin/Debug/net7.0/System.Windows.Extensions.dll
bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
obj/Debug/net7.0/apphost
obj/Debug/net7.0/AutoParts.csproj.CopyComplete
obj/Debug/net7.0/AutoParts.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/AutoParts.csproj.FileListAbsolute.txt
obj/Debug/net7.0/AutoParts.genruntimeconfig.cache
obj/Debug/net7.0/AutoParts.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/staticwebassets.development.json
obj/Debug/net7.0/staticwebassets.pack.json
obj/Debug/net7.0/staticwebassets/msbuild.AutoParts.Microsoft.AspNetCore.StaticWebAssets.props
obj/Debug/net7.0/staticwebassets/msbuild.build.AutoParts.props
obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.AutoParts.props
obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.AutoParts.props
