@page
@using AutoParts.Models
@model AutoParts.Pages.Main.HistoryModel
@{
    ViewData["Title"] = "History";
    bool anyOrder = Model.Orders!.Count > 0;
}
@section Styles {
    <link rel="stylesheet" href="~/css/history.css" />
}
<main>
    @if(anyOrder){
        <div id="history-container">
            <div id="list">
                @if(Model.Orders!.Any()){
                    foreach (Order order in Model.Orders!)
                    {
                        <div id="@order.Id" class="product-container">
                            <p>@order.CreatedOn.ToLocalTime()</p>
                            <p>Total Price: @order.TotalPrice</p>
                            <p>Count: @order.Count</p>
                        </div>
                    }
                }
            </div>
            <div class="details"></div>
        </div>
    }
    else{
        <h1 class="main-message">There were no orders</h1>
    }
</main>

@if(anyOrder){
    <script src="~/js/history.js"></script>
}