@page
@model AutoParts.Pages.UploadModel
@{
}
<main>
    <h1>Clarify the correctness</h1>
    <form method="post">

        <button type="submit" asp-page-handler="Confirm">Submit</button>
        <button type="submit" asp-page-handler="Edit">Edit</button>
    </form>
</main>