@page
@model AutoParts.Pages.Identity.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<main>
    <header class="identity-header">
        <h1>Register</h1>
        <hr>
    </header>
    <form method="post" asp-antiforgery="true" asp-action="/Identity/LogIn">
        <div asp-validation-summary="All" class="error-box"></div>
        </div>
        <div class="input-container">
            <label asp-for="Email!">Email</label>
            <input asp-for="Email!" type="email" required placeholder="Your email">
            <span class="error-message" asp-validation-for="Email!"></span>
        </div>
        <div class="input-container">
            <label asp-for="Password!">Password</label>
            <input asp-for="Password!" type="password" required placeholder="Your password">
            <span class="error-message" asp-validation-for="Password!"></span>
        </div>
        <div class="input-container">
            <label asp-for="ConfirmedPassword!">Confirm Password</label>
            <input asp-for="ConfirmedPassword!" type="password" required placeholder="Confirm your password">
            <span class="error-message" asp-validation-for="ConfirmedPassword!"></span>
        </div>
        <div class="btn-container">
            <button type="submit">Register</button>
            <button type="reset">Reset</button>
        </div>
        <p>Already have an account? <a asp-page="/Identity/LogIn">Log In!</a></p>
    </form>
</main>