/*
    These styles are used for <input> elements, accross the website. Mainly these styles are used in the Update, Upload, and Identity related pages.
*/

.input-container label, input, .error-message {
    display: block;
    width: 100%;
    font-size: 1.5rem;
}
.input-container label + input {
    padding: 0.5vh 1vh;
    box-sizing: border-box;
}
.input-container, .btn-container {
    margin-top: 3rem;
}
.success {
    box-shadow: 0.2vh 0.2vh 0.5vh 0.5vh greenyellow;
}
.failure {
    box-shadow: 0.2vh 0.2vh 0.5vh 0.5vh red;
}
.btn-container {
    margin-bottom: 3rem;
}
.btn-container button {
    width: 16rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.5vw;
    border: 0.1vh solid black;
    background-color: white;
}
.btn-container button[type="submit"]:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
.btn-container button[type="reset"]:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
.error-message {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: red;
}