* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 17px;
}
h1 {
    font-size: 3rem;
}
main {
    width: 70vw;
    margin: auto;
}
.input-container label, input, .error-message {
    display: block;
    width: 100%;
    font-size: 1.5rem;
}
.input-container, .btn-container {
    margin-top: 3rem;
}
.btn-container {
    margin-bottom: 3rem;
}
.btn-container button {
    width: 16rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.5vw;
    border: 0.1vh solid black;
    background-color: white;
}
.btn-container button[type="submit"]:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
.btn-container button[type="reset"]:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
.error-message {
    color: red;
}

/*Table styles. Index Page.*/
main#autoPartsTable {
    width: 99%;
}
table {
    width: 100%;
    margin-top: 5vh;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 5vh;
}
table, th, td {
    border: 0.2vh solid black;
    border-collapse: collapse;
}
td, th {
    padding: 1vh;
}
tr:nth-child(even){
    background-color: rgb(206, 206, 206);
}
td.btnCell {
    background-color: rgb(188, 255, 188);
    font-size: 1.4rem;
    transition: 0.5s;
}
td.btnCell:hover {
    font-size: 1.4rem;
    background-color: rgb(0, 255, 0);
    font-weight: bolder;
    cursor: pointer;
}

/*Product bag styles.*/
#bagWrapper {
    position: fixed;
    bottom: 0.5vh;
    right: 0.5vw;
    font-size: 1.2rem;
    text-align: center;
}
#productsDesc {
    display: none;
    padding: 1vh;
    max-height: 65vh;
    overflow-y: auto;
    background-color: rgb(116, 116, 116);
    color: white;
}
#bag {
    width: 15vw;
    height: 5vh;
    background-color: black;
    line-height: 5vh;
    box-sizing: border-box;
    transition: all 0.5s;
    cursor: pointer;
}
#bag p {
    color: white;
    font-size: 1.5rem;
}
#bag:hover, #bag.activeBag {
    height: 7vh;
    line-height: 7vh;
    width: 20vw;
}
#bag:active {
    background-color: purple;
    transition: 0s;
}

/*Product list styles.*/
.productContainer p{
    max-width: 20vw;
}

#itemsInfo{
    max-height: 50vh;
    overflow-y: auto;
    max-width: 20vw;
    display: none;
}

.productContainer:nth-child(even){
    background-color: rgb(206, 206, 206);
}
.productContainer:nth-child(odd){
    background-color: rgb(243, 243, 243);
}
.productContainer{
    position: relative;
    margin: 1vh 0.5vh;
    border: 1px solid black;
    box-shadow: 0.2vh 0.2vh 0.5vh 0.2vh black;
    padding: 0.5vh;
}

#mainSell{
    width: 100%;
    border: none;
    padding: 1.5vh;
    background-color: black;
    font-size: 1.2rem;
    box-sizing: border-box;
    margin-bottom: 2vh;
    color: white;
    transition: 0.5s;
}
#mainSell:hover{
    margin-top: 1vh;
    border-radius: 2.5vh;
    color: rgb(0, 255, 0);
}

/* Modal Window Styles. */
#modalContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}
#modalWindow{
    position: relative;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    box-shadow: 0.4vh 0.4vh 0.5vh black;
}
#modalHeader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.8vh;
    background-color: black;
}

/* Icons.*/
.cancelIcon{
    color: white;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.5s;
}
.cancelIcon:hover{
    color: violet;
}
.removeFromBagIcon{
    position: absolute;
    bottom: 0.2vh;
    right: 0.2vh;
    transition: 0.5s;
}
.removeFromBagIcon:hover{
    color: red;
    font-size: 2rem;
}