/*
    General styles that are applied everywhere.
*/

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 17px;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

main {
    width: 70vw;
    margin: auto;
}

.mg-left-2vh {
    margin-left: 2vh;
}

.pointer {
    cursor: pointer;
}

.error-box {
    margin-top: 1rem;
    font-size: 1.2rem;
    list-style-position: inside;
    color: red;
}

.product-container p {
    max-width: 20vw;
}

.product-container:nth-child(even) {
    background-color: rgb(206, 206, 206);
}

.product-container:nth-child(odd) {
    background-color: rgb(243, 243, 243);
}

.product-container {
    position: relative;
    margin: 1vh 0.5vh;
    border: 1px solid black;
    box-shadow: 0.2vh 0.2vh 0.5vh 0.2vh black;
    padding: 0.5vh;
}